body {
  font-family: Arial, sans-serif;
  margin: 10px;
  /* text-align: center; */
}

h1, h2, h3, h4, h5, h6{
  color: #333;
  margin: 0px;
}

p {
  color: #666;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
}

.logo img {
  width: 64px;
  height: 64px;
}

.el-card {
  margin: 5px;
}

.el-card__header {
  padding: 8px 10px;
}

.el-divider--horizontal {
  margin: 10px 0;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar.left {
  justify-content: flex-start;
}

.bar.right {
  justify-content: flex-end;
}

.gap10 {
  gap: 10px;
}

.snippets {
  overflow: auto;
}

.snippet-thumbnail {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.snippet-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.snippet-description {
  font-size: 14px;
  color: #5a5a5a;
}

.snippet-version, .snippet-author, .snippet-suggested-by {
  font-size: 8pt;
  color: #6d6d6d;
  font-style: italic;  
}